.buttons {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 800px) {
    justify-content: center;
  }

  @media screen and (max-width: 500px) {
    justify-content: left;
  }

  a {
    width: 11.1875rem;
    height: 3.125rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
  }

  .buttonGradient {
    border-radius: 0.375rem;
    background: #130c49;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 163.8%; /* 1.638rem */
    width: 13.1875rem;
  }

  .buttonGradient:hover {
    border-radius: 0.375rem;
    background: #130c49;
    color: #fff;
  }

  .buttonOutline {
    color: #130c49;
    border-radius: 0.375rem;
    background: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 163.8%; /* 1.638rem */
  }

  .buttonOutline:hover {
    border-radius: 0.375rem;
    background: #fff;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 40px;

  h1 {
    color: #ffffff;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 1rem;
  }

  .headerBox {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
    }

    p {
      color: #ffffff;
    }
  }
}

.headerSecurity {
  background: #130c49;
  background-image: url('/img/site/bg-weaviate-hd-dark3.jpg');
  background-size: cover;

  @media screen and (max-width: 520px) {
    background-image: url('/img/site/bg-weaviate-mobile-dark.jpg');
    background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }
}

.topText {
  color: #130c49;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  margin: 10px 0px;
}
